body {
    background: linear-gradient(90deg, #1672E9 0%, #2077E8 9.09%, #297BE7 18.18%, #3280E6 27.27%, #3A84E5 36.36%, #4288E4 45.45%, #498CE2 54.55%, #5190E1 63.64%, #5A94E0 72.73%, #6299DF 81.82%, #6B9DDD 90.91%, #73A1DC 100%);
}

header {
    text-align: center;
}

header p {
    margin-top: 16px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 15.2px;
    width: auto;
    
    
}

nav ul  {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
    margin-top: 25px;
}

nav ul li {
    display: inline;
    padding: 5px;
 }

.fotoPerfil {
    width: 155px;
    border-radius: 120px;
    border: 5px solid white;
    margin-top: 15px;
    box-shadow: 0px 4px 4px 2px rgba(20, 20, 20, 0.3);
}

main section {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 14.2px;
    margin-top: 16px;
   
}

main section p {
    border-left-width: 0px;
    border-left-style: solid;
    margin-left: 15px;
    margin-right: 15px;
}

#linkedin:hover {
    scale: 105%;
    
}

#behance:hover {
    scale: 105%;
    
}

#mail:hover {
    scale: 105%;
    
}

#github:hover {
    scale: 105%;
    
}

#mail {
    width: 47px;
    height: 47px;
}

#mail:hover {
    scale: 105%;
}

.botonera {
    list-style-type: none;
    padding-left: 0;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 218px;
}

.botonera a {
       color: inherit;
       text-decoration: none;
       font-family: 'Lekton', sans-serif;
      

     
    
}

.botonera li {
    border: 1.195px solid #A4A4A4;
    font-size: 15.4px;
    background-image: linear-gradient(to right top, #292af8, #5221e6, #661ad4, #7314c3, #7a11b3);
    border-radius: 8.364px;
    box-shadow: -4px 4px 1px 0px rgba(0, 0, 0, 0.76);
    margin: 22px;
    margin-top: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    transform-style: preserve-3d;
}  

.botonera li:hover {
    border: 1.195px solid #A4A4A4;
    font-size: 15.4px;
    background-image: linear-gradient(to right top, #292af8, #5221e6, #661ad4, #7314c3, #7a11b3);
    border-radius: 8.364px;
    background: linear-gradient(to right top, #6b6bf8, #5221e6, #7e31eb, #7314c3, #7a11b3);;
    box-shadow: -6px 6px 1px 0px rgba(0, 0, 0, 2.76);
    margin: 22px;
    margin-top: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
}  


#miLetterboxd {
margin-top: 0px;
}

.parrafo1{
    margin-top: 25px;
}

.parrafo2{
    margin-bottom: 20px;
}

footer hr {
    width: 339px;
    color: white;
    margin-top: 15px;
      
}

footer h3 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 14px;
    margin-bottom: 14px;
    margin-top: 0px;
}

.miCvIcono {
    width: 20%;
}






/*
.botonera #miPlaylist li {
    background-image: linear-gradient(to right top, #60da85, #50d675, #3ed264, #29cd52, #00c93d);
    box-shadow: -2.389606237411499px 3.584409236907959px 1.1948031187057495px 0px rgba(0, 0, 0, 2);
  
}

.botonera #miPlaylist li:hover {
    background-image: linear-gradient(to right top, #67b980, #58bd74, #47c068, #32c359, #10c648);
    box-shadow: -2.389606237411499px 3.584409236907959px 1.1948031187057495px 0px rgba(0, 0, 0, 2);
  
}


.botonera #misTrabajos li {
    background-image: linear-gradient(to right top, #8367b9, #8058be, #7e48c2, #7d33c5, #7e10c6);
    box-shadow: -2.389606237411499px 3.584409236907959px 1.1948031187057495px 0px rgba(0, 0, 0, 2);
  
}

.botonera #misTrabajos li:hover {
    background-image: linear-gradient(to right top, #6742af, #6739ae, #682eac, #6921aa, #6a0ca8);
    box-shadow: -2.389606237411499px 3.584409236907959px 1.1948031187057495px 0px rgba(0, 0, 0, 2);
  
}

.botonera #miCv li {
    background-image: linear-gradient(to right top, #2069da, #2d73e1, #397ce8, #4386ef, #4e90f6);
    box-shadow: -2.389606237411499px 3.584409236907959px 1.1948031187057495px 0px rgba(0, 0, 0, 12);
  
}

.botonera #miCv li:hover {
    background-image: linear-gradient(to right top, #4582e1, #558de7, #6499ed, #72a4f2, #81b0f8);
    box-shadow: -2.389606237411499px 3.584409236907959px 1.1948031187057495px 0px rgba(0, 0, 0, 12);
  
}


